
/*.roboto-<uniquifier> {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" <width>;
  }*/

*{border: 1px solid red;}


body{
    font-family: Roboto;
    display: flex;
    flex: 1;
    flex-direction: column;
   
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;


}

.logo{
font-size: 24px;
color: #F9FAF8;
margin-left: 48px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;    
    gap: 12px;
    padding-right: 48px;
}

li{
    font-size: 18px;
    color: #E5E7EB;
}

.section-one{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;

    padding: 48px;
}

.section-one-content{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: flex-start;
}

.hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

    margin: 0;
    padding: 0;
    
}

.hero-text{
font-size: 18px;
color: #E5E7EB;
margin: 0;
padding: 0;
}

.hero-button{
    margin: 16px 0px;
    padding: 8px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 12px;

}


.image-placeholder{
    height: 250px;
    width: 550px;
    background-color: aqua;
    color: black;
    flex-shrink: 0;
    margin: 12px;
}

.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.box-container{
    display: flex;
    justify-content: space-evenly;
  